<app-header titulo="Grid - Row"></app-header>

<ion-content class="ion-padding">
    <ion-grid>
        <!-- <ion-row>
            <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">
                {{i}}
            </ion-col>
        </ion-row> -->
        <ion-row>
            <ion-col size="12" size-lg="4" size-sm="6" size-md *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]">
                <ion-card>
                    <ion-img src="/assets/shapes.svg "></ion-img>
                    <ion-card-header>
                        <ion-card-subtitle>Subtitle</ion-card-subtitle>
                        <ion-card-title>Title</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, rem iusto. Enim ducimus tenetur eius dolore fuga. Dolor non cum molestias, ipsum, temporibus ab nisi voluptatibus quaerat, quia itaque aliquid?
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>