<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/">Back</ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize">Botones</ion-title>

        <ion-buttons slot="end">
            <ion-button color="primary">
                <ion-icon name="heart"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon name="star"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Botones Normales -->

    <ion-button size="small" expand="full">Small</ion-button>
    <ion-button size="default" expand="full">Default</ion-button>
    <ion-button size="large" expand="full">Large</ion-button>

    <!-- Anchor - Nav - Router -->

    <ion-button class="top-20" expand="full" routerLink="/alert" color="success">
        Ruta a Alerta
    </ion-button>

    <!-- ion-row    y ion-col -->

    <ion-row>
        <ion-col>
            <ion-button expand="full" routerLink="/avatar" color="warning">
                Ruta a Avatar
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button expand="full" routerLink="/action-sheet" color="tertiary">
                Ruta a Action Sheet
            </ion-button>
        </ion-col>
    </ion-row>

    <!-- Fill -->
    <ion-row>
        <ion-col>
            <ion-button class="top-20" fill="clear" color="success">
                Clear
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button class="top-20" fill="outline" color="success">
                Outline
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button class="top-20" fill="solid" color="success">
                Solid
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>